# Stage 09 â€” Homework Starter Notebook

In [1]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

## TODO: Implement at least 2 engineered features here

In [ ]:
# Example template:
df['spend_income_ratio'] = df['monthly_spend'] / df['income']  # TODO: Your feature
# Add rationale in markdown below

### Rationale for Feature 1
Explain why this feature may help a model. Reference your EDA.

In [ ]:
# TODO: Add another feature
# Example: df['rolling_spend_mean'] = df['monthly_spend'].rolling(3).mean()

### Rationale for Feature 2
Explain why this feature may help a model. Reference your EDA.